<module>
	<rawname>callstatistics</rawname>
	<name>Call Statistics</name>
	<version>0.1.0</version>
	<changelog>
		*0.1.0* Proper Module Format
		*0.0.2* Released as POSSA module with minor improvements
		*0.0.1b3*
				Allow for the input of case-insenstive extension masks in Extensions Breakdown.
				Added PHP gd extensions as dependency
		*0.0.1b2*
				Fixed a bug in how calls to/from extension were counted in the Extensions Breakdown module.
		*0.0.1b1*
				Initial release of the module which contains the original module, Concurrent Calls v2.1.1
				as well as the previously unreleased "Extensions Breakdown" module.
	</changelog>
	<type>tool</type>
	<category>Reports</category>
	<description>Graphs concurrent calls as well as calls made by extensions over a user specified period of time.</description>
	<menuitems>
		<concurrentcalls>Concurrent Calls</concurrentcalls>
		<extbreakdown>Extensions Breakdown</extbreakdown>
	</menuitems>
	<location>https://github.com/POSSA/freepbx-Call-Statistics</location>
	<depends>
		<phpcomponent>gd</phpcomponent>
	</depends>
</module>
